html{
  scroll-behavior: smooth;
}

body{
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  color: lightgrey;
}


.main {
  color: lightgray;
  margin-left: 45%;
}

.p1{
  color: lightgray;
  text-align: center;
}

img{
  width: 1000px;
  height: 600px;
  display: block;
}

iframe {
  display: block;
}

.wrapper {
  color: lightgrey;
}

.nav__link {
  font-size: xx-large;
  margin-right: 50px;
  padding-top: 10px;
  text-decoration: none;
}

.nav__link:link {
  color: red;
}

.nav__link:visited {
  color: blue;
}

.nav__link:hover {
  color: yellow;
}

.nav__link:active {
  color: orange;
}

.section:target {
  background-color: red;
}

header {
  background-color: lightgrey;
  height: 100px;
  text-align: center;
}